



.modal {
  position: absolute;
  z-index: 1001;
}








.modal {
  position: absolute;
  background-color: #e1e4e8; /* Light blue-gray background */
  margin-left: 450px;
  top: 300px;
  height: 30vh;
  width: 50vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}





.modalBtns {
  cursor: pointer;
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 100;
}



.modal > h2 {
  font-size: 20px;
}
.modalBtns > button {
  cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;